/*RESET*/
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/********************************************************************************
                                PAGE STYLE
********************************************************************************/
/* variables for general elements */
:root {
    --main-color: #F0A500;
    --second-color: #CF7500;
    --white: #F4F4F4;
    --black: #1A1C20;
    --main-font: 'Mina', sans-serif;
    --display-font: 'Gugi', cursive;
    --shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    --input-bg-color: #ebebeb;
}

body {
    background-image: linear-gradient(53deg, rgba(249, 249, 249, 0.04) 0%, rgba(249, 249, 249, 0.04) 8%, rgba(133, 133, 133, 0.04) 8%, rgba(133, 133, 133, 0.04) 100%), linear-gradient(152deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 39%, rgba(25, 25, 25, 0.04) 39%, rgba(25, 25, 25, 0.04) 100%), linear-gradient(346deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 39%, rgba(136, 136, 136, 0.04) 39%, rgba(136, 136, 136, 0.04) 100%), linear-gradient(9deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 65%, rgba(244, 244, 244, 0.04) 65%, rgba(244, 244, 244, 0.04) 100%), linear-gradient(90deg, rgb(207, 117, 0), rgb(240, 165, 0));
    height: 110vh;
    font-family: var(--main-font);
    font-size: 0.9rem;
    letter-spacing: 2px;
}

/********************************************************************************
                               FORM STYLE 
********************************************************************************/
.form-hr {
    border: 1px solid var(--main-color);
    width: 20%;
}

.email-form {
    background-color: var(--white);
    padding: 5px 20px;
    margin: 2% auto;
    width: 100%;
    max-width: 480px;
    box-shadow: rgba(244, 244, 244, 0.4) 5px 5px, rgba(244, 244, 244, 0.3) 10px 10px, rgba(244, 244, 244, 0.2) 15px 15px, rgba(244, 244, 244, 0.1) 20px 20px, rgba(244, 244, 244, 0.05) 25px 25px;
    border-radius: 2px;
}

.email-form>* {
    display: block;
    margin: 2% auto;
}

::-webkit-input-placeholder {
    font-size: 1.3em;
}

.email-form__title {
    display: block;
    margin: 2% auto;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: var(--main-color);
    padding: 2%;
    color: var(--white);
    width: 60%;
    box-shadow: var(--shadow);
    border-radius: 2px;
}

label {
    text-transform: uppercase;
}

.email-form__text {
    border: none;
    outline: none;
    background-color: var(--input-bg-color);
    width: 95%;
    padding: 10px;
    margin: auto;
}

.email-form__text:hover {
    transition: .1s ease-in-out;
}

.email-form__text:focus {
    background-color: var(--white);
    border-bottom: 5px solid var(--main-color);
    transition: .2s ease-in-out;
}

.email-form__textarea {
    background-color: var(--input-bg-color);
    overflow: hidden;
    width: 95%;
    margin: auto;
    padding: 10px;
    height: 120px;
    resize: none;
    outline: none;
    border: none;
}

.email-form__textarea:hover {
    transition: .2s ease-in-out;
}

.email-form__textarea:focus {
    background-color: var(--white);
    border-bottom: 5px solid var(--main-color);
    transition: .2s ease-in-out;
}

.span--color {
    color: darkblue
}

label>.span--color {
    font-size: 1.2rem;
}

.comments {
    color: darkred;
}

.thank-you {
    color: darkgreen;
}

.email-form__note {
    margin: 5%;
    text-align: center
}

.email-form__button {
    text-align: center;
    width: 200px;
    color: var(--main-color);
    background-color: var(--white);
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 4% auto;
    padding: 1%;
    box-shadow: var(--shadow);
    border-radius: 2px;
}

.email-form__button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
    transition: .5s ease-in-out;
    background-color: var(--main-color);
    color: var(--white);
    
}

.email-form__text::placeholder, .email-form__textarea::placeholder {
    font-size: .8rem;
    color: rgba(26,28,32,0.5);
}
